@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif; 
}

:root {
    --background-color-text: black;
    --primary-color: white;
    --secundary-color: red;
    --background-color-fondo: rgb(230, 226, 226);
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--background-color-text);
    font-size: 18px;
}

body {
background-color: var(--background-color-text);
}

p {
    color: var(--primary-color);
    font-size: 18px;
}

/* Header   NOTA:(Position absolute para el header ya que la imagen al hacer el efecto no quiero que aplaste el header)*/

header {
    padding: 20px;
    min-height: 100px;
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--background-color-fondo);
}

header ul {
    display: flex;
    flex-wrap: wrap
}

header li {
    display: flex;
    height: 50px;
    width: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
}

header li:hover {
    background-color: var(--secundary-color);
}

header button {
    background-color: var(--secundary-color);
    border-radius: 10px;
    min-width: 110px;
    min-height: 50px;
    border-style: none;
    color: var(--primary-color);
    font-size: 20px;
}

header button:hover {
    background-color: var(--background-color-text);
}

header .imagen_menu_secundaria {
    display: none;
    width: 40px;
    height: 40px;
}

@media (max-width: 800px){
    header ul {
        display: none;
    }
    header .imagen_menu_secundaria {
        display: block;
    }
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

main  .img_principal {
    display: flex;
    justify-content: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,11,167,1) 100%);
    width: 100%;
    height: 750px;
}


/* Con este tipo de animacion y declarando el @keyframes move, decimos que la imagen de mueva en forma de bucle de arriba hacia abajo declarando el movimiento en tiempo y PX */
.img_principal img {
    height: 700px;
    width: 600px;
    object-fit: cover;
    animation: move 2.5s infinite;
    animation-timing-function: linear(
    0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6,
    0.5, 0.4, 0.3, 0.2, 0.1, 0);
}

@keyframes move {
    from { transform: translateY(0); }
    to { transform: translateY(50px); }
  }


.contenido {
    min-width: 200px;
    max-width: 600px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    background-color: var(--background-color-text);
    border: solid 5px rgba(166,10,148,1);
    border-radius: 20px;
}

.contenido h1 {
    color: var(--primary-color);
}

.lista_principal {
    display: flex;
    justify-content: center;
}

.lista_principal ol {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    gap: 50px;
    padding: 20px;
}

.lista_principal li {
    border: solid 5px rgba(166,10,148,1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 380px;
    padding: 10px;
    background: radial-gradient(circle, rgb(57, 3, 46) 0%, rgb(0, 0, 0) 100%);
    color: var(--primary-color);
    border-radius: 50px;
    text-align: center;
}

.lista_principal div {
    display: flex;
    align-items: center;
    flex-direction:column;
    gap: 20px;
    padding: 30px;
}

.lista_principal  li  img {
    height: 50%;
    width: 50%;
    object-fit: cover;
}

/* Galeria */

.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    min-width: 300px
}

.galeria img {
    width: 450px;
    object-fit: cover;
    border-radius: 50px;
    background: radial-gradient(circle, rgb(57, 3, 46) 0%, rgb(0, 0, 0) 100%);
}

.galeria img:hover {
    transform:scale(0.9);
}


/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    min-width: 200px;
    min-height: 100px;
    background-color: var(--background-color-fondo);
}


footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    color:black;
    flex-wrap: wrap;
}

footer li:hover {
    text-decoration: underline;
}

footer .imagen_menu_secundaria {
    display: none;
    width: 30px;
    height: 30px;
}

@media (max-width: 700px){
    footer nav {
        display: none;
    }
    footer .imagen_menu_secundaria {
        display: block;
    }
}